<nav class="navbar navbar-expand-lg">
    <a href="javascript:void(0);" [routerLink]="['/dashboard']" class="logo">
        <img src="./../../../assets/images/logo.png" alt="" title="" class="" />
        <span>iCheck</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">

        <!-- <span class="navbar-toggler-icon"></span>-->
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/dashboard']">HOME </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ABOUT IC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HELP</a>
            </li>
        </ul>

    </div>
    <span class="navbar-text topbar-right-menu d-flex">
        <span class="account-user-avatar mr-2">
            <img src="../../../assets/images/user.png" alt="" title="" class="user-avatar">
        </span>

        <span>
            <span class="account-user-name">John Doe</span>
            <a class="account-position" href="javascript:void(0)" (click)="logout()">Logout</a>
        </span>
    </span>
</nav>