<div class="container-fluid">
    <section class="isummery bg-white">
        <h1 class="title">{{ checklistSummary.vessel }}<span> ({{ attachments.length }})</span></h1>

        <section class="summery-bottom mt-5 pt-2">
            <div class="d-md-flex justify-content-between">
                <div class="d-md-flex align-items-center">
                    <h5 class="title-sm mr-md-4 mb-0">
                        #{{ checklistSummary.id }}
                        <span *ngIf="checklistSummary.lastRefereces">- {{ checklistSummary.lastRefereces }}</span>
                    </h5>
                    <span class="stts stts-{{ checklistSummary.statusClass }}">
                        <span>{{ checklistSummary.status }}</span>
                    </span>
                </div>
                <div class="d-flex mt-3 justify-content-end">
                    <a href="javascript:void(0);" class="underline d-inline-block" (click)="downloadAll()">Download
                        all</a>
                    <a href="javascript:void(0);" class="list-icon-link active ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-grid list-icon d-inline-block ml-3">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg>
                    </a>
                    <a href="javascript:void(0);" class="list-icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-list list-icon d-inline-block ml-3">
                            <line x1="8" y1="6" x2="21" y2="6"></line>
                            <line x1="8" y1="12" x2="21" y2="12"></line>
                            <line x1="8" y1="18" x2="21" y2="18"></line>
                            <line x1="3" y1="6" x2="3.01" y2="6"></line>
                            <line x1="3" y1="12" x2="3.01" y2="12"></line>
                            <line x1="3" y1="18" x2="3.01" y2="18"></line>
                        </svg>
                    </a>
                </div>
            </div>

            <div>
                <app-checklist-table [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows"
                    [columns]="columns">
                </app-checklist-table>

                <div class="table-footer">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length"
                        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                        (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
                    </pagination>
                </div>
            </div>
        </section>
    </section>
</div>