<div class="container-fluid">
    <section class="isummery bg-white mb-4">
        <h1 class="title">iCheck Summary</h1>
        <section class="summery-section-top">

            <div class="row">
                <div class="col-md-2" *ngFor="let summary of iCheckInspectionList">
                    <div class="box-summery text-center mb-md-0 mb-4" (click)="selectIcheckInspection(summary)" [ngClass]="{ 'active': summary.active }">
                        <div class="box-content">
                            <h5 class="box-title mb-0">{{ summary.name }}</h5>
                            <p class="box-text">{{ summary.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="summery-bottom mt-5 pt-2">
            <form name="entityForm" #entityForm="ngForm" (ngSubmit)="entityForm.valid && submit()" novalidate>

                <div class="inspection-box">
                    <h5 class="title-sm">Details</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-inspection">
                                <div class="form-group">
                                    <label for="">Vessel</label>
                                    <input type="text" class="form-control" placeholder="Name of the Vessel"
                                        [(ngModel)]="entity.vessel" name="vessel_name" required
                                        #vessel_name="ngModel">
                                    <div *ngIf="entityForm.submitted && vessel_name.invalid"
                                        class="float-left required">
                                        <div *ngIf="vessel_name.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Flag</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.flag"
                                        name="vessel_flag" required #vessel_flag="ngModel"
                                        placeholder="Flag of the Vessel">
                                    <div *ngIf="entityForm.submitted && vessel_flag.invalid"
                                        class="float-left required">
                                        <div *ngIf="vessel_flag.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Deadweight</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.deadweight"
                                        name="deadweight" required #deadweight="ngModel"
                                        placeholder="Summer Deadweight of the Vessel">
                                    <div *ngIf="entityForm.submitted && deadweight.invalid" class="float-left required">
                                        <div *ngIf="deadweight.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->

                            </div>
                        </div>
                        <!---col-4---->
                        <div class="col-md-4">
                            <div class="form-inspection">
                                <div class="form-group">
                                    <label for="">IMO</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.imo" name="imo"
                                        required #imo="ngModel" placeholder="IMO Number of the Vessel">
                                    <div *ngIf="entityForm.submitted && imo.invalid" class="float-left required">
                                        <div *ngIf="imo.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Gross Tonnage</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.grossTonnage"
                                        name="gross_tonnage" required #gross_tonnage="ngModel"
                                        placeholder="Registered Gross Tonnage of the Vessel">
                                    <div *ngIf="entityForm.submitted && gross_tonnage.invalid"
                                        class="float-left required">
                                        <div *ngIf="gross_tonnage.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Displacement</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.displacement"
                                        name="displacement" required #displacement="ngModel"
                                        placeholder="Summer Displacement of the Vessel">
                                    <div *ngIf="entityForm.submitted && displacement.invalid"
                                        class="float-left required">
                                        <div *ngIf="displacement.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->

                            </div>
                        </div>
                        <!---col-4---->
                        <div class="col-md-4">
                            <div class="form-inspection">
                                <div class="form-group">
                                    <label for="">Call Sign</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.callSign"
                                        name="call_sign" required #call_sign="ngModel"
                                        placeholder="Call Sign of the Vessel">
                                    <div *ngIf="entityForm.submitted && call_sign.invalid"
                                        class="float-left required">
                                        <div *ngIf="call_sign.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Nett Tonnage</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.nettTonnage"
                                        name="nett_tonnage" required #nett_tonnage="ngModel"
                                        placeholder="Nett Registered Tonnage of the Vessel">
                                    <div *ngIf="entityForm.submitted && nett_tonnage.invalid"
                                        class="float-left required">
                                        <div *ngIf="nett_tonnage.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Summer Draught</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.summerDraught"
                                        name="summer_draught" required #summer_draught="ngModel"
                                        placeholder="Summer Draught of the Vessel">
                                    <div *ngIf="entityForm.submitted && summer_draught.invalid"
                                        class="float-left required">
                                        <div *ngIf="summer_draught.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->

                            </div>
                        </div>
                        <!---col-4---->
                    </div>
                    <!---->

                </div>
                <!---inspectionbox--->
                <div class="inspection-box mt-4">
                    <h5 class="title-sm">Name of Officers and Crew</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-inspection">
                                <div class="form-group">
                                    <label for="">Master</label>
                                    <input type="text" class="form-control" id="" [(ngModel)]="entity.master"
                                        name="master" required #master="ngModel"
                                        placeholder="Name of Master">
                                    <div *ngIf="entityForm.submitted && master.invalid"
                                        class="float-left required">
                                        <div *ngIf="master.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Chief Officer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.chiefOfficer"
                                        name="chief_officer" required #chief_officer="ngModel" id=""
                                        placeholder="Name of Chief Officer">
                                    <div *ngIf="entityForm.submitted && chief_officer.invalid"
                                        class="float-left required">
                                        <div *ngIf="chief_officer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">2nd Officer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.officer2"
                                        name="second_officer" required #second_officer="ngModel" id=""
                                        placeholder="Name of 2nd Officer">
                                    <div *ngIf="entityForm.submitted && second_officer.invalid"
                                        class="float-left required">
                                        <div *ngIf="second_officer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">3rd Officer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.officer3"
                                        name="third_officer" required #third_officer="ngModel" id=""
                                        placeholder="Name of 3rd Officer">
                                    <div *ngIf="entityForm.submitted && third_officer.invalid"
                                        class="float-left required">
                                        <div *ngIf="third_officer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                            </div>
                        </div>
                        <!---col-4---->
                        <div class="col-md-4">
                            <div class="form-inspection">
                                <div class="form-group">
                                    <label for="">Chief Engineer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.chiefEngineer"
                                        name="chief_engineer" required #chief_engineer="ngModel" id=""
                                        placeholder="Name of Chief Engineer">
                                    <div *ngIf="entityForm.submitted && chief_engineer.invalid"
                                        class="float-left required">
                                        <div *ngIf="chief_engineer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">2nd Engineer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.engineer2"
                                        name="chilf_second_officer" required #chilf_second_officer="ngModel" id=""
                                        placeholder="Name of the Master">
                                    <div *ngIf="entityForm.submitted && chilf_second_officer.invalid"
                                        class="float-left required">
                                        <div *ngIf="chilf_second_officer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">3rd Engineer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.engineer3"
                                        name="chilf_third_officer" required #chilf_third_officer="ngModel" id=""
                                        placeholder="Name of 3rd Engineer">
                                    <div *ngIf="entityForm.submitted && chilf_third_officer.invalid"
                                        class="float-left required">
                                        <div *ngIf="chilf_third_officer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">4th Engineer</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.engineer4"
                                        name="chilf_fourth_officer" required #chilf_fourth_officer="ngModel" id=""
                                        placeholder="Name of the Master">
                                    <div *ngIf="entityForm.submitted && chilf_fourth_officer.invalid"
                                        class="float-left required">
                                        <div *ngIf="chilf_fourth_officer.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                            </div>
                        </div>
                        <!---col-4---->
                        <div class="col-md-4">
                            <div class="form-inspection">
                                <div class="form-group">
                                    <label for="">Electro-Technical Officer (E.T.O.)</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.electroTechnicalOfficer"
                                        name="eto" required #eto="ngModel" id=""
                                        placeholder="Name of E.T.O.">
                                    <div *ngIf="entityForm.submitted && eto.invalid"
                                        class="float-left required">
                                        <div *ngIf="eto.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Chief Cook</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.chiefCook"
                                        name="chief_cook" required #chief_cook="ngModel" id=""
                                        placeholder="Name of Chief Officer">
                                    <div *ngIf="entityForm.submitted && chief_cook.invalid"
                                        class="float-left required">
                                        <div *ngIf="chief_cook.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">Bosun</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.bosun"
                                        name="bosun" required #bosun="ngModel" id=""
                                        placeholder="Name of Bosun">
                                    <div *ngIf="entityForm.submitted && bosun.invalid"
                                        class="float-left required">
                                        <div *ngIf="bosun.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                                <div class="form-group">
                                    <label for="">No.1 Oiler (Fitter)</label>
                                    <input type="text" class="form-control" [(ngModel)]="entity.fitter"
                                        name="oiler" required #oiler="ngModel" id=""
                                        placeholder="Name of No.1 Oiler">
                                    <div *ngIf="entityForm.submitted && oiler.invalid"
                                        class="float-left required">
                                        <div *ngIf="oiler.errors.required">
                                            This is a required field
                                        </div>
                                    </div>
                                </div>
                                <!----form-group--->
                            </div>
                        </div>
                        <!---col-4---->
                    </div>
                    <!---->
                    <div class="d-flex mt-4 justify-content-between align-items-center">
                        <button class="btn btn-previous" type="button" [routerLink]="['/dashboard']">Previous</button>
                        <button class="btn btn-theme" type="submit">Next</button>
                    </div>
                </div>

            </form>
            <!---inspectionbox--->
        </section>
    </section>
</div>