<div class="container-fluid">
    <section class="isummery bg-white">
        <h1 class="title">iCheck Summary</h1>
        <section class="summery-section-top">

            <div class="row">
                <div class="col-md-2" *ngFor="let summary of iCheckSummaries">
                    <div class="box-summery text-center mb-md-0 mb-4" [ngClass]="{ 'active': summary.active }"
                        (click)="selectIcheckSummary(summary)">
                        <canvas baseChart 
                            [data]="summary.pieChartData"
                            [labels]="summary.pieChartLabels" 
                            [chartType]="pieChartType" 
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="colors">
                        </canvas>
                        <div class="box-content">
                            <h5 class="box-title mb-0">{{ summary.name }}</h5>
                            <p class="box-text" *ngIf="summary.description">{{ summary.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="summery-bottom mt-5 pt-2">
            <div class="d-md-flex justify-content-between">
                <h5 class="title-sm">{{ entity.summary_title }} Questionnaire</h5>
                <div class="d-md-flex">
                    <form class="search-container mr-md-4">
                        <input *ngIf="config.filtering" id="search-bar" placeholder=""
                            [ngTableFiltering]="config.filtering" class="" (tableChanged)="onChangeTable(config)" />
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-search search-icon">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            <i data-feather="search" class="search-icon"></i>
                        </a>
                    </form>
                    <button class="btn btn-theme-blue mt-md-0 mt-2" [routerLink]="['/icheck-inspection']">
                        New Inspection Checklist
                    </button>
                </div>
            </div>

            <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns">
            </ng-table>

            <div class="table-footer">
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length"
                    [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
                </pagination>
            </div>
        </section>
    </section>
</div>