<div class="Datatable-2" id="datatable">
    <table class="table table-striped mt-4 table-responsive w-100 mt-3" role="grid">
        <thead>
            <tr role="row">
                <ng-container>
                    <th scope="col">#</th>
                    <th [ngClass]="{ 'sorting_desc': column.sort === 'desc', 'sorting_asc': column.sort === 'asc'}"
                        *ngFor="let column of columns" [ngTableSorting]="config" [column]="column"
                        (sortChanged)="onChangeTable($event)">
                        <div class="d-flex">
                            <span>{{column.title}}</span>
                            <!-- <i *ngIf="config && column.sort" class="float-right fa"
                                [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i> -->
                        </div>
                    </th>
                    <th scope="col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-more-horizontal more-icon">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td scope="row" [routerLink]="['/icheck-checklist', row.id]">
                    <div class="round">
                        <input type="checkbox" name="rows_{{ row.id }}" id="rows_{{ row.id }}" [checked]="row.checked"
                            (change)="selectRow(row, $event)">
                        <label for="rows_{{ row.id }}"></label>
                    </div>
                </td>
                <td scope="row">#{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>
                    <a [routerLink]="['/icheck-checklist', row.id]" class="view-link">
                        {{ row.attachment }}
                    </a>
                </td>
                <td class="">
                    <span class="stts stts-{{ row.statusClass }}">
                        <span>{{ row.status }}</span>
                    </span>
                    <span class="lock-unlock">
                        <i class="fa fa-unlock unlock" aria-hidden="true"></i>
                    </span>
                </td>
                <td>{{ row.created_at }}</td>
                <td>{{ row.updated_at }}</td>
                <td>
                    <span class="dropdown icheck-dropdown">
                        <button type="button" class="" data-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-more-horizontal more-icon">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [ngClass]="{ 'disabled': row.status == 'COMPLETE' }">Edit</a>
                        <a class="dropdown-item" [ngClass]="{ 'disabled': row.status == 'COMPLETE' || row.status == 'SUBMITTED' }" (click)="deleteRow(row)">Delete</a>
                        <a class="dropdown-item">Communication Log</a>
                        <a class="dropdown-item" [ngClass]="{ 'disabled': row.status == 'COMPLETE' || row.status == 'SUBMITTED' || row.status == 'IN PROGRESS' }">Send for review</a>
                    </div>
                </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>